<section class="intro pt-1" id="intro">
  <div class="container">
    <div>
      <div class="container text-center pt-5">
        <div class="row">
          <div class="col-md-6 offset-md-3  pt-5">
            <div class="form-group text-light">
              <label for="game_input" class="logo">GameOn <i class="fas fa-gamepad"></i></label>
              <h1 class="display-4 text-center">404 Not Found
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>